version: "3.9"

services:
  web:
    image: ${MORELIDEV_IMAGE:-ghcr.io/moreliw/morelidev:latest}
    pull_policy: always
    container_name: morelidev-web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.morelidev.rule=Host(`morelidev.com`,`www.morelidev.com`)"
      - "traefik.http.routers.morelidev.entrypoints=websecure"
      - "traefik.http.routers.morelidev.tls=true"
      - "traefik.http.routers.morelidev.tls.certresolver=le"
      - "traefik.http.services.morelidev.loadbalancer.server.port=3000"
    networks:
      - public
    restart: unless-stopped

networks:
  public:
    external: true
    name: legalreports_public
