version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: morelidev-web
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=legalreports_public"
      - "traefik.http.routers.morelidev-web.rule=Host(`morelidev.com`,`www.morelidev.com`)"
      - "traefik.http.routers.morelidev-web.entrypoints=websecure"
      - "traefik.http.routers.morelidev-web.tls=true"
      - "traefik.http.routers.morelidev-web.tls.certresolver=le"
      - "traefik.http.routers.morelidev-web.service=morelidev-web-svc"
      - "traefik.http.services.morelidev-web-svc.loadbalancer.server.port=3000"
    networks:
      - public
    restart: unless-stopped

networks:
  public:
    external: true
    name: legalreports_public
